// Footer Styles
.ftr{
  // max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  .cr{
    // align-self: center;
    // align-self: stretch;
    align-self: flex-end;
  }
}
.cr{
    background-color: pink; 
}
footer {
  // max-width: 800px;
  background-color: #828282;
  // color: red;
  // background: pink;
  // padding: 20px 0;
  // border: 1px double #e0e0e0;
  // border-radius: 10px;
  // display: flex;
  // justify-content: center;
  // align-items: center;

}
h4{
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  // border: 1px dashed red;
}
.email{
  padding-right: 50px;

}
.ny,
.fl,
.ca{
  padding-right: 70px;
}
.New{
// border: 3px solid blue;
font-weight: normal;
font-size: 14px;
line-height: 26px;
color: #FFFFFF;
}
.Florida{
  // border: 3px solid orange;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}
.California{
// border: 3px solid blue;
font-weight: normal;
font-size: 14px;
line-height: 26px;
color: #FFFFFF;
}
